<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>Coming Soon</title>

    <!-- CSS -->
    <!-- link
      rel="stylesheet"
      href="http://fonts.googleapis.com/css?family=Roboto:400,300,100,100italic,300italic,400italic,700,700italic"
    / -->
    <!-- link rel="stylesheet" href="assets/css/style.css" / -->

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
  </head>

  <body>
    <div class="coming-soon">
      <div class="logo">
        <p>Logo</p>
      </div>
      <div class="middle">
        <h1>We are coming soon.. 
				<br><br>
					<strong>Stay Tuned!</strong></h1>
        <hr />
      </div>
      <div class="bottomleft">
        <p>Some text</p>
      </div>
    </div>
  </body>
</html>

{% schema %}
  {
    "name": "coming-soon-page",
    "settings": [
	  {
		"type": "text",
	  	"id": "custom_title",
		"label": "custom title"
	  }
	],
	"presets": [
	  {
	    "name": "coming-soon-page"
	  }
	]
  }
{% endschema %}